{% set requests_count = dcpr_requests | length %}
{% block heading %}
<section class="module module-narrow module-shallow">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><i class="fa fa-info-circle"></i>Data Capture Project Registry</h4>
        </div>
        <div class="panel-body">
            <p>The Data Capture Project Registry (DCPR) contains a listing of all data capture requests</p>
          </div>
        <div class="panel-body">
            {% if g.user %}
                <div class="pull-left">
                    <a class="btn btn-primary" href="{{ h.url_for('dcpr.new_dcpr_request') }}">
                        {{ _('Create Request') }}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}
