{% import 'macros/form.html' as form %}

{% block fields %}
  {{ form.input('organization_name', id='field-organization_name', label=_('Organization Name'), placeholder=_('eg. SASDI'), classes=['control-full'], attrs={'dcpr_request-module': 'slug-preview-target', 'class': 'form-control'}) }}

  {{ form.input('organization_level', id='field-organization_level', label=_('Organization Level'), placeholder=_('eg. SASDI Level'), classes=['control-full'], attrs={'dcpr_request-module': 'slug-preview-target', 'class': 'form-control'}) }}

  {{ form.input('organization_address', id='field-organization_address', label=_('Organization Address'), placeholder=_('eg. SASDI address'), classes=['control-full'], attrs={'dcpr_request-module': 'slug-preview-target', 'class': 'form-control'}) }}

  {{ form.input('proposed_project_name', id='field-proposed_project_name', label=_('Proposed Project Name'), placeholder=_('eg. Data Request'), classes=['control-full'], attrs={'dcpr_request-module': 'slug-preview-target', 'class': 'form-control'}) }}

  {{ form.markdown('additional_project_context', id='field-additional_project_context', label=_('Additional project context'), placeholder=_('eg. Some useful notes about the data') ) }}


  {{ form.input('capture_start_date', id='field-capture_start_date', label=_('Capture start date'), placeholder=_('eg. 2022-01-01'), type='date', classes=[]) }}
  {{ form.input('capture_end_date', id='field-capture_end_date', label=_('Capture end date'), placeholder=_('eg. 2022-01-01'), type='date', classes=[]) }}

  {{ form.input('cost', id='field-cost', label=_('Proposed project cost'), placeholder=_('eg. 200,000 Rands'), classes=['control-full'], attrs={'dcpr_request-module': 'slug-preview-target', 'class': 'form-control'}) }}

  {# - snippet 'dcpr/snippets/requests_spatial_extent.html', field={"field_name": "spatial_extent"}, data=dcpr_request.spatial_extent -#}

  {{ form.input('spatial_resolution', id='field-spatial_resolution', label=_('Spatial resolution'), placeholder=_(''), classes=['control-full'], attrs={'dcpr_request-module': 'slug-preview-target', 'class': 'form-control'}) }}
  {{ form.input('data_capture_urgency', id='field-data_capture_urgency', label=_('Data capture urgency'), placeholder=_(''), classes=['control-full'], attrs={'dcpr_request-module': 'slug-preview-target', 'class': 'form-control'}) }}

  {{ form.markdown('additional_information', id='field-additional_information', label=_('Additional information'), placeholder=_('eg. Some additional notes about the requests') ) }}

  {{ form.input('request_date', id='field-request_date', label=_('Request date'), placeholder=_('eg. 2022-01-01'), type='date', classes=[]) }}
  {{ form.input('submission_date', id='field-submission_date', label=_('Submission date'), placeholder=_('eg. 2022-01-01'), type='date', classes=[]) }}
  {{ form.input('nsif_review_date', id='field-nsif_review_date', label=_('NSIF review date'), placeholder=_('eg. 2022-01-01'), type='date', classes=[]) }}

  {{ form.input('nsif_recommendation', id='field-nsif_recommendation', label=_('NSIF recommendation'), placeholder=_(''), classes=['control-full'], attrs={'dcpr_request-module': 'slug-preview-target', 'class': 'form-control'}) }}

  {{ form.markdown('nsif_review_notes', id='field-nsif_review_notes', label=_('NSIF review notes'), placeholder=_('eg. NSIF review notes') ) }}

  {{ form.input('nsif_review_additional_documents', id='field-nsif_review_additional_documents', label=_('NSIF review additional documents'), placeholder=_(''), classes=['control-full'], attrs={'dcpr_request-module': 'slug-preview-target', 'class': 'form-control'}) }}

  {{ form.input('csi_moderation_date', id='field-csi_moderation_date', label=_('CSI moderation date'), placeholder=_('eg. 2022-01-01'), type='date', classes=[]) }}

  {{ form.markdown('csi_moderation_notes', id='field-csi_moderation_notes', label=_('CSI review notes'), placeholder=_('eg. CSI review notes') ) }}

  {{ form.input('csi_moderation_additional_documents', id='field-csi_moderation_additional_documents', label=_('NSIF review additional documents'), placeholder=_(''), classes=['control-full'], attrs={'dcpr_request-module': 'slug-preview-target', 'class': 'form-control'}) }}

  {{ form.checkbox('dataset_custodian', id='field-dataset_custodian', checked=false, value=false, label=_('Dataset Custodian'), placeholder=_(''), classes=['control-full'], attrs={'dcpr_request-module': 'slug-preview-target', 'class': 'form-control'}) }}

  {{ form.input('data_type', id='field-data_type', label=_('Data type'), placeholder=_(''), classes=['control-full'], attrs={'dcpr_request-module': 'slug-preview-target', 'class': 'form-control'}) }}

  {{ form.input('purposed_dataset_title', id='field-purposed_dataset_title', label=_('Purposed dataset title'), placeholder=_(''), classes=['control-full'], attrs={'dcpr_request-module': 'slug-preview-target', 'class': 'form-control'}) }}

  {{ form.input('purposed_abstract', id='field-purposed_abstract', label=_('Proposed abstract'), placeholder=_(''), classes=['control-full'], attrs={'dcpr_request-module': 'slug-preview-target', 'class': 'form-control'}) }}

  {{ form.input('dataset_purpose', id='field-dataset_purpose', label=_('Purposed of dataset'), placeholder=_(''), classes=['control-full'], attrs={'dcpr_request-module': 'slug-preview-target', 'class': 'form-control'}) }}

  {{ form.input('lineage_statement', id='field-lineage_statement', label=_('Linage statement'), placeholder=_(''), classes=['control-full'], attrs={'dcpr_request-module': 'slug-preview-target', 'class': 'form-control'}) }}

  {{ form.input('associated_attributes', id='field-associated_attributes', label=_('Associated attributes'), placeholder=_(''), classes=['control-full'], attrs={'dcpr_request-module': 'slug-preview-target', 'class': 'form-control'}) }}

  {{ form.input('feature_description', id='field-feature_description', label=_('Feature Description'), placeholder=_(''), classes=['control-full'], attrs={'dcpr_request-module': 'slug-preview-target', 'class': 'form-control'}) }}

  {{ form.input('data_usage_restrictions', id='field-data_usage_restrictions', label=_('Data usage restrictions'), placeholder=_(''), classes=['control-full'], attrs={'dcpr_request-module': 'slug-preview-target', 'class': 'form-control'}) }}

  {{ form.input('capture_method', id='field-capture_method', label=_('Method of capture'), placeholder=_(''), classes=['control-full'], attrs={'dcpr_request-module': 'slug-preview-target', 'class': 'form-control'}) }}

  {{ form.input('capture_method_detail', id='field-capture_method_detail', label=_('Detail method of capture'), placeholder=_(''), classes=['control-full'], attrs={'dcpr_request-module': 'slug-preview-target', 'class': 'form-control'}) }}



{% endblock %}

{% block package_basic_fields_custom %}{% endblock %}

