{% import 'macros/form.html' as form %}
{% set action = g.form_action or '' %}

{% if dcpr_request %}

 {% set is_owner = dcpr_request.owner_user == g.userobj.id %}
 {% set request_submitted = ( dcpr_request.status == 'AWAITING_NSIF_REVIEW' ) %}
 {% set request_under_preparation = ( dcpr_request.status == 'UNDER_PREPARATION' ) %}
 {% set waiting_csi_review = ( dcpr_request.status == 'AWAITING_CSI_REVIEW' ) %}
 {% set immutable = request_submitted and is_owner %}
 {% set disabled_attr = immutable and 'disabled' or 'enabled' %}
 {% set status_finalized = dcpr_request.status == 'ACCEPTED' or dcpr_request.status == 'REJECTED' %}
 {% set nsif_review_ready = ( not request_under_preparation and nsif_reviewer ) and ( not waiting_csi_review and not status_finalized ) %}
 {% set csi_review_ready = csi_reviewer and waiting_csi_review %}

{% endif %}
 {% if dcpr_request %}
  <form id="request-new" class="dataset-form" method="post" action="{{ action }}" data-module="basic-form" novalidate>
 {% else %}
  <form id="request-edit" class="dataset-form" method="post" action="{{ action }}" data-module="basic-form" novalidate>
 {% endif %}
  <input type="hidden" name="_ckan_phase" value="request_new_1" />
  {# pkg_name used in 3 stage edit #}
  {% if dcpr_request %}
  <input type="hidden" name="request_id" value="{{ dcpr_request.csi_reference_id }}" />
  <input type="hidden" name="owner_user" value="{{ dcpr_request.owner_user }}" />
  {% endif %}
  {% block errors %}{{ form.errors(error_summary) }}{% endblock %}

  {% block fields %}
    {% if dcpr_request %}
    {% snippet 'dcpr/snippets/request_fields.html', dcpr_request=dcpr_request, errors=errors, immutable=immutable,
      organizations=organizations, organizations_levels=organizations_levels, nsif_reviewer=nsif_reviewer,
      csi_reviewer=csi_reviewer, data_urgency=data_urgency, nsif_review_ready=nsif_review_ready,
      csi_review_ready=csi_review_ready
    %}
    {% else %}
    {% snippet 'dcpr/snippets/new_request_fields.html', organizations=organizations, organizations_levels=organizations_levels,
      data_urgency=data_urgency
      %}
    {% endif %}
  {% endblock %}

  {% block form_actions %}
    <div class="form-actions">
      {% if dcpr_request %}

      {% block save_actions_button %}
        {% if is_owner and not immutable %}
         <button class="btn btn-primary" type="submit" name="action_type" value=0>{{ _('Save') }}</button>
         <button class="btn btn-primary" type="submit" name="action_type" value=1>{{ _('Submit') }}</button>
         {% block delete_button %}
            {% if not errors and  h.check_access('dcpr_request_delete_auth', {'request_id': dcpr_request.csi_reference_id}) %}
              <a class="btn btn-danger pull-left"
                 href="{% url_for 'dcpr' ~ '.dcpr_request_delete', request_id=dcpr_request.csi_reference_id %}" data-module="confirm-action"
                 data-module-content="{{ _('Are you sure you want to delete this dataset?') }}">
                  {% block delete_button_text %}{{ _('Delete') }}{% endblock %}
              </a>
            {% endif %}
         {% endblock %}
        {% elif nsif_review_ready %}
        <button class="btn btn-primary" type="submit" name="action_type" value=0>{{ _('Save') }}</button>
        <button class="btn btn-primary" type="submit" name="action_type" value=4>{{ _('Escalate to CSI') }}</button>
        <button class="btn btn-primary" type="submit" name="action_type" value=3>{{ _('Reject') }}</button>
        {% elif csi_review_ready %}
        <button class="btn btn-primary" type="submit" name="action_type" value=0>{{ _('Save') }}</button>
        <button class="btn btn-primary" type="submit" name="action_type" value=2>{{ _('Accept') }}</button>
        <button class="btn btn-primary" type="submit" name="action_type" value=3>{{ _('Reject') }}</button>
        {% endif %}

      {% endblock %}
      {% else %}
       <button class="btn btn-primary" type="submit" name="action_type" value=0>{{ _('Save') }}</button>
       <button class="btn btn-primary" type="submit" name="action_type" value=1>{{ _('Submit') }}</button>
      {% endif %}

      {{ form.required_message() }}
    </div>
  {% endblock %}
</form>
