{% import 'macros/form.html' as form %}

{% block fields %}
  {{ form.input('organization_name', id='field-organization_name', label=_('Organization Name'), placeholder=_('eg. SASDI'), value=dcpr_request.organization_name, error=errors.organization_name, classes=['control-full'], attrs={'dcpr_request-module': 'slug-preview-target', 'class': 'form-control'}) }}
  {{ form.input('organization_level', id='field-organization_level', label=_('Organization Level'), placeholder=_('eg. SASDI Level'), value=dcpr_request.organization_level, error=errors.organization_level, classes=['control-full'], attrs={'dcpr_request-module': 'slug-preview-target', 'class': 'form-control'}) }}
  {{ form.input('organization_address', id='field-organization_address', label=_('Organization Address'), placeholder=_('eg. SASDI address'), value=dcpr_request.organization_address, error=errors.organization_address, classes=['control-full'], attrs={'dcpr_request-module': 'slug-preview-target', 'class': 'form-control'}) }}
  {{ form.input('proposed_project_name', id='field-proposed_project_name', label=_('Proposed Project Name'), placeholder=_('eg. Data Request'), value=dcpr_request.proposed_project_name, error=errors.proposed_project_name, classes=['control-full'], attrs={'dcpr_request-module': 'slug-preview-target', 'class': 'form-control'}) }}

  {{ form.markdown('additional_project_context', id='field-additional_project_context', label=_('Additional project context'), placeholder=_('eg. Some useful notes about the data'), value=dcpr_request.additional_project_context, error=errors.additional_project_context) }}


  {{ form.input('capture_start_date', id='field-capture_start_date', label=_('Capture start date'), placeholder=_('eg. 2022-01-01'), value=dcpr_request.capture_start_date, error=errors.capture_start_date, type='date', classes=[]) }}
  {{ form.input('capture_end_date', id='field-capture_end_date', label=_('Capture end date'), placeholder=_('eg. 2022-01-01'), value=dcpr_request.capture_end_date, error=errors.capture_end_date, type='date', classes=[]) }}

  {{ form.input('cost', id='field-cost', label=_('Proposed project cost'), placeholder=_('eg. 200,000 Rands'), value=dcpr_request.cost, error=errors.cost, classes=['control-full'], attrs={'dcpr_request-module': 'slug-preview-target', 'class': 'form-control'}) }}

  {# - snippet 'dcpr/snippets/requests_spatial_extent.html', field={"field_name": "spatial_extent"}, data=dcpr_request.spatial_extent -#}

  {{ form.input('spatial_resolution', id='field-spatial_resolution', label=_('Spatial resolution'), placeholder=_(''), value=dcpr_request.spatial_resolution, error=errors.spatial_resolution, classes=['control-full'], attrs={'dcpr_request-module': 'slug-preview-target', 'class': 'form-control'}) }}
  {{ form.input('data_capture_urgency', id='field-data_capture_urgency', label=_('Data capture urgency'), placeholder=_(''), value=dcpr_request.data_capture_urgency, error=errors.data_capture_urgency, classes=['control-full'], attrs={'dcpr_request-module': 'slug-preview-target', 'class': 'form-control'}) }}

  {{ form.markdown('additional_information', id='field-additional_information', label=_('Additional information'), placeholder=_('eg. Some additional notes about the requests'), value=dcpr_request.additional_information, error=errors.additional_information) }}

  {{ form.input('request_date', id='field-request_date', label=_('Request date'), placeholder=_('eg. 2022-01-01'), value=dcpr_request.request_date, error=errors.request_date, type='date', classes=[]) }}
  {{ form.input('submission_date', id='field-submission_date', label=_('Submission date'), placeholder=_('eg. 2022-01-01'), value=dcpr_request.submission_date, error=errors.submission_date, type='date', classes=[]) }}
  {{ form.input('nsif_review_date', id='field-nsif_review_date', label=_('NSIF review date'), placeholder=_('eg. 2022-01-01'), value=dcpr_request.nsif_review_date, error=errors.nsif_review_date, type='date', classes=[]) }}

  {{ form.input('nsif_recommendation', id='field-nsif_recommendation', label=_('NSIF recommendation'), placeholder=_(''), value=dcpr_request.nsif_recommendation, error=errors.nsif_recommendation, classes=['control-full'], attrs={'dcpr_request-module': 'slug-preview-target', 'class': 'form-control'}) }}

  {{ form.markdown('nsif_review_notes', id='field-nsif_review_notes', label=_('NSIF review notes'), placeholder=_('eg. NSIF review notes'), value=dcpr_request.nsif_review_notes, error=errors.nsif_review_notes) }}

  {{ form.input('nsif_review_additional_documents', id='field-nsif_review_additional_documents', label=_('NSIF review additional documents'), placeholder=_(''), value=dcpr_request.nsif_review_additional_documents, error=errors.nsif_review_additional_documents, classes=['control-full'], attrs={'dcpr_request-module': 'slug-preview-target', 'class': 'form-control'}) }}



  {{ form.input('csi_moderation_date', id='field-csi_moderation_date', label=_('CSI moderation date'), placeholder=_('eg. 2022-01-01'), value=dcpr_request.csi_moderation_date, error=errors.csi_moderation_date, type='date', classes=[]) }}

  {{ form.markdown('csi_moderation_notes', id='field-csi_moderation_notes', label=_('CSI review notes'), placeholder=_('eg. CSI review notes'), value=dcpr_request.csi_moderation_notes, error=errors.csi_moderation_notes) }}

  {{ form.input('csi_moderation_additional_documents', id='field-csi_moderation_additional_documents', label=_('NSIF review additional documents'), placeholder=_(''), value=dcpr_request.csi_moderation_additional_documents, error=errors.csi_moderation_additional_documents, classes=['control-full'], attrs={'dcpr_request-module': 'slug-preview-target', 'class': 'form-control'}) }}


{% endblock %}

{% block package_basic_fields_custom %}{% endblock %}
