{% set organization_name = request.organization_name %}
{% set status = request.status %}
{% set request_date = request.request_date %}


{% block request_item %}
  <li class="request-item">
  <div class="row request-row">

    <div class="col-md-12">
    {% block content %}
      <div class="dataset-content">
        {% block heading %}
          <h2 class="dataset-heading">
            {% block heading_title %}
            Request by
            <a href="">
              {{organization_name}}
            </a>
            {% endblock %}
          </h2>
        {% endblock %}
        {% block notes %}
          <div>Status: {{ status }}</div>
          <div>Request date: {{ request_date }}</div>
        {% endblock %}
      </div>
    {% endblock %}
      <div>
        <a href="#" class="btn pull-right">
          {{ _('View Request') }}
        </a>
      </div>
      </div>
  </div>
  </li>
{% endblock %}