{% set request_id = dcpr_request.csi_reference_id %}
{% set organization_name = dcpr_request.organization_name %}
{% set request_date = dcpr_request.request_date %}
{% set status = request_status[dcpr_request.status] %}


{% block request_item %}
  <li class="request-item">
  <div class="row request-row">

    <div class="col-md-12">
    {% block content %}
      <div>
        {% block heading %}
          <h2 class="request-heading">
            {% block heading_title %}
            Request by
             <span class="text-muted">{{ organization_name }}  </span> {{ _('Organization')}}
            {% endblock %}
          </h2>
        {% endblock %}
        {% block notes %}
        <div >Status: <span class="text-{{status[1]}}">{{ status[0] }}</span></div>
          <div>Request date: {{ request_date }}</div>
        {% endblock %}
      </div>
    {% endblock %}
      <div>
        <a class="btn pull-right" href="{{ h.url_for('dcpr.dcpr_request_show', request_id=request_id) }}">
         {{ _('View Request') }}
        </a>
      </div>
      </div>
  </div>
  </li>
{% endblock %}
