/* This is just an example, feel free to replace */
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.main {
  padding-top: 10px;
  background: none;
}

.navbar-brand {
  float: left;
  height: auto;
  padding: 0;
  height: 80px;
  width: 260px;
  background: url("/images/Logo.png") no-repeat;
 }

.navbar-nav {
  margin: 7.5px 25px;
}

.nav-item{
  cursor: pointer;
  font-size: 14px;
  padding: 10px 25px;
  font-weight: bold;
}

.navbar-right {
  float: right !important;
  margin-right: 0;
}

.navbar-default {
  background-color: #ffffff;
   border-color: #e7e7e7;
 }

.navbar-default .navbar-text {
  color: #3A744E;
 }

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0;
  border: 1px solid transparent;
}

.navbar-default .navbar-nav > li > a {
  color: #3A744E;
 }

body {
  background: #FFF url("../../../base/images/bg.png");
 }

.wrapper::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 25%;
  border-right: 0;
  z-index: 1;
}

.btn-primary {
    background-color: #F3881C;
}

.btn-secondary {
  background-color: #3A744E;
}

 /* btn-default */
.btn-default {
  color: #fff;
  background-color: #3A744E;
  border-color: #3A744E;
}

.btn-default:focus,
.btn-default.focus {
  color: #fff;
  background-color: #3A744E;
  border-color: #3A744E;
}
.btn-default:hover {
  color: #fff;
  background-color: #3A744E;
  border-color: #3A744E;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #3A744E;
  border-color: #3A744E;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #fff;
  background-color: #3A744E;
  border-color: #3A744E;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  color: #fff;
  background-color: #3A744E;
}
.btn-default .badge {
  color: #fff;
  background-color: #3A744E;
  border-color: #3A744E;
}


.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fbfbfb;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  min-height: 315px;

}

.p-5 {
  padding: 3rem !important;
}

.fw-bolder {
  font-weight: bolder !important;
}

.mb-3 {
  margin-top: 1.4rem !important;
}

.mb-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.projects {
  min-height: 350px;
}

/* Datasets */

.toolbar .breadcrumb {
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
  float: none;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-size: 18px;
  text-align: center;
}

.breadcrumb > li {
  display: none;
}

.page-header {
  margin-top: 30px;
  border-bottom: 0 solid #ddd;
  background-color: transparent;
  border-radius: 0 3px 0 0;
}

.search-form {
  padding-bottom: 2px;
  border-bottom: 0;
  width: 40%;
  margin: auto;
}

.dataset-item {
  border: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
  background-color: #fff;
}

.dataset-item:last-of-type {
  border-bottom:  1px solid #ccc;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.wrapper {
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.05);
  position: relative;
  min-height: 300px;
  background-color: transparent;
}

.main .secondary {
  padding: 0;
  z-index: 1;
  padding-right: 1px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.dataset-row{
  margin: 10px;
}

.datasets-date {
  float: left;
}

.datasets-date-actions{
  margin: 20px 0 0 0;
  display: block;
}

.dataset-resources {
  margin-top: 0;
}

.datasets-action-items > li> i{
  margin-right: 0.5em;
}

.datasets-action-items > li {
  margin-right: 1.5em;
}

/* Filters */
.panel {
  margin-bottom: 0;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-title > a {
  text-decoration: none;
}

/* Landing page */
.btn-warning {
  background-color: #F3881C;
}
header.masthead {
  position: relative;
  background: url("/images/emc.jpg") no-repeat center center;
  background-size: auto;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.header-title {
  color: #FFFFFF;
  font-size: 60px;
}

.index-search {
  position: relative;
  color: #3A744E;
  background-color: #FFFFFF;

}

.sasdi-theme {
  position: relative;
  color: #FFFFFF;
  background-color: #3A744E;
}

.sasdi {
  color: #FFFFFF;
}

.section-title {
  text-align: center;
  font-size: 40px;
}

.sample-datasets {
  position: relative;
  background-color: #FFFFFF;
  color: #3A744E;
}

.index-datasets {
  min-height: 400px;
}
