.dataset-spatial-extent-map {
    background-color: #1d3a27;
    padding: 0 25px;
    margin: 20px 0;
}

.dataset-spatial-extent-map #dataset-spatial-extent-map-container {
    position: relative;
    background-color: #8a6d3b;
    height: 200px;
    width: 100%;
}
