include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/dalrrd_emc_dcpr *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/dalrrd_emc_dcpr/migration *.ini *.py *.mako
