{% ckan_extends %}
{% block subtitle %}{{ _("Welcome DALRRD") }}{% endblock %}
{% block content %}
<header class="masthead">
    <div id="emcCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#emcCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#emcCarousel" data-slide-to="1"></li>
      </ol>
        <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
                <img class="carousel-inner-img" src="{{ url_for('static', filename = 'images/2528CA_clip1.png') }}" alt="EMC">
              <div class="carousel-caption">
                  <div class="row justify-content-center">
                   <div class="col-xl-6">
                    <div class="text-center text-white">
                        <h1 class="header-title">Electronic Metadata Catalogue (EMC)</h1>
                        <div class="mb-5 col-auto"><a href="/dataset/"><button class="btn btn-warning btn-lg"  type="submit">View All Datasets</button></a></div>
                    </div>
                   </div>
                  </div>
              </div>
            </div>

            <div class="item">
                <img class="carousel-inner-img" src="{{ url_for('static', filename = 'images/2528CA_clip2.png') }}" alt="EMC">
              <div class="carousel-caption">
                  <div class="row justify-content-center">
                  <div class="col-xl-6">
                    <div class="text-center text-white">
                     <h1 class="header-title">Data Capture Project Register (DCPR)</h1>
                     <div class="mb-5 col-auto"><a href="/dcpr/"><button class="btn btn-warning btn-lg"  type="submit">DCPR</button></a></div>
                    </div>
                  </div>
                  </div>

              </div>
            </div>
          </div>
        <!-- Left and right controls -->
          <a class="left carousel-control" href="#emcCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#emcCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
    </div>
</header>
<main class="index-search">
    <div class="container">
    <h2 class="mb-5 section-title">Search for data</h2>
        <form {% if form_id %}id="{{ form_id }}" {% endif %}class="search-form{% if no_bottom_border %} no-bottom-border{% endif %}" method="get" data-module="select-switch" action="/dataset/">
            <div class="input-group search-input-group">
                <input aria-label="{% block header_site_search_label %}{{ placeholder }}{% endblock %}" id="field-giant-search" type="text" class="form-control input-lg" name="q" value="{{ query }}" autocomplete="off" placeholder="Search datasets...">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-lg" type="submit" value="search" aria-label="{{_('Submit')}}">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>

    </div>
</main>
 <section class="index-sasdi-theme">
    <div class="text-center container">
    <h2 class="mb-5 section-title">SASDI Themes</h2>
        <div class="row mb-5">
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1" >
                <div data-toggle="tooltip" data-placement="top" title="Hydrology">
                <a href="/dataset/?vocab_sasdi_themes=Hydrology" class="sasdi">
                    <i class="fa fa-tint fa-5x"></i>
                </a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1" >
                <div data-toggle="tooltip" data-placement="top" title="Administrative boundaries">
                <a href="/dataset/?vocab_sasdi_themes=Administrative+boundaries+2" class="sasdi">
                    <i class="fa fa-map fa-5x"></i>
                </a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1" >
                 <div data-toggle="tooltip" data-placement="top" title="Conservation">
                <a href="/dataset/?vocab_sasdi_themes=Conservation" class="sasdi">
                    <i class="fa fa-envira fa-5x"></i>
                </a>
                 </div>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1" >
                <div data-toggle="tooltip" data-placement="top" title="Land Cover">
                <a href="/dataset/?vocab_sasdi_themes=Land+Cover" class="sasdi">
                    <i class="fa fa-pagelines fa-5x"></i>
                </a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1" >
                <div data-toggle="tooltip" data-placement="top" title="Wetlands">
                <a href="/dataset/?vocab_sasdi_themes=Wetlands" class="sasdi">
                    <i class="fa fa-map-o fa-5x"></i>
                </a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1" >
                <div data-toggle="tooltip" data-placement="top" title="Land Use">
                <a href="/dataset/?vocab_sasdi_themes=Land+Use" class="sasdi">
                    <i class="fa fa-building fa-5x"></i>
                </a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1" >
                <div data-toggle="tooltip" data-placement="top" title="Satellite Imagery">
                <a href="/dataset/?vocab_sasdi_themes=Satellite+Imagery" class="sasdi">
                    <i class="fa fa-globe fa-5x"></i>
                </a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1" >
                <div data-toggle="tooltip" data-placement="top" title="Social Statistics">
                <a href="/dataset/?vocab_sasdi_themes=Social+Statistics" class="sasdi">
                    <i class="fa fa-bar-chart fa-5x"></i>
                </a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1" >
                <div data-toggle="tooltip" data-placement="top" title="Administrative boundaries">
                <a href="/dataset/?vocab_sasdi_themes=Administrative+boundaries+1" class="sasdi">
                    <i class="fa fa-ellipsis-h fa-5x"></i>
                </a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1" >
                <div data-toggle="tooltip" data-placement="top" title="Cadastre">
                <a href="/dataset/?vocab_sasdi_themes=Cadastre" class="sasdi">
                    <i class="fa fa-times fa-5x"></i>
                </a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1" >
                <div data-toggle="tooltip" data-placement="top" title="Transport">
                <a href="/dataset/?_vocab_sasdi_themes_limit=0&vocab_sasdi_themes=Transport" class="sasdi">
                    <i class="fa fa-truck fa-5x"></i>
                </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sample-datasets">
<div class="container">
    <div class="row mb-5">
        <div class="col-lg-6 index-datasets">
            <h2 class="mb-5 section-title">Featured Datasets</h2>
            {% set featured_datasets = h.emc_get_featured_datasets() %}
            {{ h.snippet('snippets/package_list.html', packages=featured_datasets) }}
        </div>
        <div class="col-lg-6 index-datasets">
            <h2 class="mb-5 section-title">Recent Datasets</h2>
            {% set recent_datasets = h.emc_get_recently_modified_datasets() %}
            {{ h.snippet('snippets/package_list.html', packages=recent_datasets) }}
        </div>
    </div>
</div>

</section>

{% endblock %}
