{% ckan_extends %}

{% block breadcrumb_content %}
    <div class="page-header">
    {% set total =  page.item_count %}
        <h1>Electronic Metadata Catalogue (EMC)</h1>
        <h5>Total number of datasets: {{ total }}</h5>
        <h5>{{ page.item_count }} datasets found</h5>
        {% snippet 'snippets/search_form.html', form_id='dataset-search-form', type=dataset_type, query=q, sorting_selected=sort_by_selected, count=page.item_count, placeholder=_('Search ' + dataset_type + 's') + '...', facets=facets, show_empty=request.params, error=query_error, fields=fields %}
    </div>
{% endblock %}

{% block primary_content %}
    {% block package_search_results_list %}
        {{ h.snippet('snippets/package_list.html', packages=page.items) }}
    {% endblock %}
{% endblock %}

{% block secondary_content %}
    {% snippet "spatial/snippets/spatial_query.html", default_extent=h.dalrrd_emc_dcpr_default_spatial_search_extent() %}
    {% snippet "snippets/temporal_query.html" %}
    <div class="filters">
    <div>
      {% for facet in facet_titles %}
          {% if facet!= 'tags' %}
        {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet, search_facets=search_facets) }}
          {% endif %}
      {% endfor %}
    {{ h.snippet('snippets/facet_list.html', title=facet_titles['tags'], name=facet, search_facets=search_facets) }}
    </div>
    <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
  </div>
{% endblock %}


{% block package_search_results_api %}
{% endblock %}