{% ckan_extends %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">

        const getUrlParameter = function getUrlParameter(sParam) {
            let sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1];
                }
            }
            return false;
        };

        function removeParameter(key, url) {
            let returnURL = url.split("?")[0],
                parameter,
                parameters_arr = [],
                queryString = (url.indexOf("?") !== -1) ? url.split("?")[1] : "";
            if (queryString !== "") {
                parameters_arr = queryString.split("&");
                for (var i = parameters_arr.length - 1; i >= 0; i -= 1) {
                    parameter = parameters_arr[i].split("=")[0];
                    if (parameter === key) {
                        parameters_arr.splice(i, 1);
                    }
                }
                if (parameters_arr.length) returnURL = returnURL + "?" + parameters_arr.join("&");
            }
            return returnURL;
        }

        function activeTemporal(){
            let url = window.location
            if(this.value){
                let new_parameter = this.id + '=' + this.value;
                let new_url = ''
                if(getUrlParameter(this.id)){
                    let old_parametr = this.id + '=' + getUrlParameter(this.id);
                    new_url = url.toString().replace(old_parametr, new_parameter);
                }
                else{
                    const sep = (url.toString().endsWith('/') ) ? ( '?'): ('&')
                    new_url = url + sep + new_parameter
                }
                window.open(new_url, "_self")
            }
            else{
                if(getUrlParameter(this.id)){
                    let new_url = removeParameter(this.id, url.toString());
                    window.open(new_url, "_self")
                }
            }
        }
        document.getElementById("ext_start_reference_date").addEventListener('change', activeTemporal);
        document.getElementById("ext_end_reference_date").addEventListener('change', activeTemporal);

    </script>

{% endblock %}

{% block breadcrumb_content %}
    <div class="page-header">
    {% set total =  page.item_count %}
        <h1>Electronic Metadata Catalogue (EMC)</h1>
        <h5>Total number of datasets: {{ total }}</h5>
        <h5>{{ page.item_count }} datasets found</h5>
        {% snippet 'snippets/search_form.html', form_id='dataset-search-form', type=dataset_type, query=q, sorting_selected=sort_by_selected, count=page.item_count, placeholder=_('Search ' + dataset_type + 's') + '...', facets=facets, show_empty=request.params, error=query_error, fields=fields %}
    </div>
{% endblock %}

{% block primary_content %}
    {% block package_search_results_list %}
        {{ h.snippet('snippets/package_list.html', packages=page.items) }}
    {% endblock %}
    {% block page_pagination %}
      {{ page.pager(q=q) }}
    {% endblock %}
{% endblock %}

{% block secondary_content %}
    {% snippet "spatial/snippets/spatial_query.html", default_extent=h.dalrrd_emc_dcpr_default_spatial_search_extent() %}
    {% snippet "snippets/temporal_query.html" %}
    <div class="filters">
    <div>
      {% for facet in facet_titles %}
          {% if facet!= 'tags' %}
        {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet, search_facets=search_facets) }}
          {% endif %}
      {% endfor %}
    {{ h.snippet('snippets/facet_list.html', title=facet_titles['tags'], name=facet, search_facets=search_facets) }}
    </div>
    <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
  </div>
{% endblock %}


{% block package_search_results_api %}
{% endblock %}