{% extends 'page.html' %}

{% block subtitle %}
    {% if dcpr_request %}
        {{ _('Edit DCPR request') }}
    {% else %}
        {{ _('Create DCPR request') }}
    {% endif %}
{% endblock %}

{% block page_header %}
    {% if dcpr_request %}
        <h1>{{ _('Edit DCPR request') }}</h1>
    {% else %}
        <h1>{{ _('Create new DCPR request') }}</h1>
    {% endif %}
{% endblock %}

{% block primary_content_inner %}
    {% block form %}
        {% snippet 'dcpr/snippets/request_form.html',
            data_urgency=data_urgency,
            errors=errors,
            error_summary=error_summary,
            data=data
        %}
    {% endblock %}
{% endblock %}

{% block secondary_content %}
  {% block request_info %}
    <section class="module module-narrow module-shallow">
      <div class="panel panel-default">
          <div class="panel-heading">
                  <h4>
                      <i class="fa fa-info-circle"></i>
                      {{ _('DCPR Request Info') }}
                  </h4>
          </div>
          <div class="panel-body">
              <p>The Data Capture Project Registry (DCPR) provides a mechanism by which SASDI stakeholders can request
                  that new geospatial data collecting missions be managed more efficiently by the central
                  SASDI-governing institutions.
              </p>
          </div>
      </div>
    </section>
  {% endblock %}
{% endblock %}
