{% extends 'page.html' %}

{% block breadcrumb_content %}
    {{ super() }}
    {% if not errors and dcpr_request %}
	<li class="active">{% link_for _('Edit'), named_route=dcpr_request.type ~ '.dcpr_request_edit', request_id=dcpr_request.csi_reference_id %}</li>
    {% endif %}
{% endblock %}

{% block secondary_content %}
  {% block request_info %}
    <section class="module module-narrow module-shallow">
      <div class="panel panel-default">
          <div class="panel-heading">
              <h4>
                      <i class="fa fa-info-circle"></i>
                      {{ _('DCPR Request Info') }}
              </h4>
          </div>
          <div class="panel-body">
              <p>
                  DCPR Requests are requests for data submitted by users that need the
                  requested data in the EMC system.
              </p>
          </div>

      </div>
    </section>
  {% endblock %}
{% endblock %}


{% block primary_content_inner %}
    {% block form %}
        {{- h.snippet('dcpr/snippets/request_form.html', dcpr_request=dcpr_request, errors=errors,
            error_summary=error_summary, nsif_reviewer=nsif_reviewer, csi_reviewer=csi_reviewer,
            organizations=organizations, organizations_levels = organizations_levels, data_urgency=data_urgency) -}}
    {% endblock %}
{% endblock %}
