{% extends "page.html" %}

{% block title %}{{ _('DCPR Requests') }} - {{ super() }}{% endblock %}

{% block search %}
    {{ h.snippet('dcpr/search.html') }}
{% endblock %}

{% block breadcrumb_content %}
  {{ _('DCPR Requests') }}
{% endblock %}

{% block primary_content_inner %}
{% block requests_list %}
  {% if requests %}
    <ul class="{{ list_class or 'dataset-list list-unstyled' }}">
    	{% block requests %}
	      {% for request in requests %}
	        {% snippet 'dcpr/snippets/request_item.html', request=request %}
	      {% endfor %}
	    {% endblock %}
    </ul>
    </div>
  {% endif %}
{% endblock %}

{% endblock%}

{% block secondary_content %}
{% snippet 'dcpr/snippets/info.html', requests=requests %}
{% endblock%}