{% extends "page.html" %}

{% block subtitle %}{{ _("Moderate %s" % action) }}{% endblock %}

{% block maintag %}<div class="row" role="main">{% endblock %}

{% block main_content %}
    <section class="module col-md-6 col-md-offset-3">
        <div class="module-content">
            <p>{{ _('DCPR request %s moderation' % (dcpr_request.proposed_project_name)) }}</p>
            <p>{{ _('Should this request be accepted?') }}</p>
            <p class="form-actions">
                <form id='dcpr-request-confirmation-form' action="{{ action_url }}" method="post">
                    <button class="btn btn-default" type="submit" name="no" >{{ _('No') }}</button>
                    <button class="btn btn-default" type="submit" name="yes" >{{ _('Yes') }}</button>
                </form>
            </p>
        </div>
    </section>
{% endblock %}
