{% extends 'page.html' %}

{% block primary_content_inner %}
    {% block form %}
        {% snippet 'dcpr/snippets/request_form.html', organizations=organizations, organizations_levels=organizations_levels %}
    {% endblock %}
{% endblock %}

{% block secondary_content %}
  {% block request_info %}
    <section class="module module-narrow module-shallow">
      <div class="panel panel-default">
          <div class="panel-heading">
                  <h4>
                      <i class="fa fa-info-circle"></i>
                      {{ _('DCPR Request Info') }}
                  </h4>
          </div>
          <div class="panel-body">
              <p>
                  DCPR Requests are requests for data submitted by users that need the
                  requested data in the EMC system.
              </p>
          </div>
      </div>
    </section>
  {% endblock %}
{% endblock %}
