{% extends "page.html" %}

{% block title %} {{ dcpr_request.organization_name }} - {{ super() }}{% endblock %}

{% block head_extras -%}
  {{ super() }}
  {% set description = h.markdown_extract(dcpr_request.notes, extract_length=200)|forceescape %}
  <meta property="og:title" content="{{ dcpr_request.proposed_project_name  }} - {{ g.site_title }}">
  <meta property="og:description" content="{{ description|forceescape|trim }}">
{% endblock -%}

{% block secondary_content %}

  {% block request_info %}
    <section class="module module-narrow module-shallow">
      <div class="panel panel-default">
          <div class="panel-heading">
                  <h4>
                      <i class="fa fa-info-circle"></i>
                      {{ _('DCPR Request Info') }}
                  </h4>
          </div>
          <div class="panel-body">
              <p>
                  DCPR Requests are requests for data submitted by users that need the
                  requested data in the EMC system.
              </p>
          </div>
          <div class="panel-body">
              <div class="pull-left">
                  <a class="btn btn-primary" href="{{ h.url_for('%s.dcpr_request_new' % dcpr) }}">
                   {{ _('Submit Request') }}
                  </a>
              </div>
          </div>
      </div>
    </section>
  {% endblock %}

{% endblock %}
