{% extends "dcpr/show_base.html" %}

{% set status = request_status[dcpr_request.status] %}

{% block primary_content_inner %}
  {{ super() }}
  {% block package_description %}
    <h1>
      {% block page_heading %}
        <span class="text-muted">{{_('Opened by')}} {{ dcpr_request.organization_name }}  </span> {{ _('Organization')}}
      {% endblock %}
    </h1>
    {% block edit_link %}
    {% if request_owner or nsif_reviewer or csi_reviewer %}
       <div class="col-md-12">
         <div>
          <a class="btn pull-right" href="{{ h.url_for('%s.dcpr_request_edit' % dcpr_request.type, request_id=dcpr_request.csi_reference_id) }}">
           {{ _('Edit Request') }}
          </a>
         </div>
      </div>
    {% endif %}
    {% endblock %}
  {% endblock %}

  {% block package_additional_info %}
      {% snippet 'dcpr/snippets/request_info.html', dcpr_request=dcpr_request, status=status%}
  {% endblock %}

{% endblock %}
