{% extends "page.html" %}
{% block subtitle %}{{ _("Contact Details") }}{% endblock %}
{% block content %}
    <div class="container">
    <section class="py-5 border-bottom" xmlns="http://www.w3.org/1999/html">
                <div class="mb-3">
                    <h1 class="fw-bolder mb-5" style="color:#ec971f">Contact Details</h1>
                    <h5 class="mb-0 fw-bolder" style="color:#ec971f">Director: NSIF</h5>
                    <p class="text-muted">Ms Maroale (Mimi) Chauke</p>
                    <p class="text-muted">Tel: +27 12 312 9643</p>
                    <p class="text-muted">Mobile: 072 647 3935</p>
                    <p class="text-muted">Email: <u style="color:#3F7752">maroale.chauke@dalrrd.gov.za</u></p>

                    <h5 class="mb-0 fw-bolder" style="color:#ec971f">Secretary: NSIF</h5>
                    <p class="text-muted">Ms Serati Manele</p>
                    <p class="text-muted">Tel: +27 12 312 8718</p>
                    <p class="text-muted"><u style="color:#3F7752">Email: serati.mashamaite@dalrrd.gov.za</u></p>

                    <h5 class="mb-0 fw-bolder" style="color:#ec971f">General Enquiries:</h5>
                    <p class="text-muted">nsif@drdlr.gov.za</p>
                    <h5 class="mb-0 fw-bolder" style="color:#ec971f">Subdirectorate: Policy and Standards Facilitation</h5>

                    <p class="text-muted">VACANT</p>
                    <p class="text-muted">Tel: +27 12 312 8718</p>
                    <p class="text-muted">Email: <u style="color:#3F7752">NSIF@dalrrd.gov.za</u></p>

                    <h5 class="mb-0 fw-bolder" style="color:#ec971f">Subdirectorate: External Client Support</h5>
                    <p class="text-muted">Ms Nontobeko Nyuswa</p>
                    <p class="text-muted">Tel: +27 12 312 9110</p>
                    <p class="text-muted">Email: <u style="color:#3F7752">nontobeko.nyuswa@dalrrd.gov.za</u></p>

                    <h5 class="mb-0 fw-bolder" style="color:#ec971f">Sub-directorate: Spatial Information and Support </h5>
                    <p class="text-muted">Mr Vutomi Ndlovu</p>
                    <p class="text-muted">Tel: +27 12 312 9415</p>
                    <p class="text-muted">Mobile: 084 400 6184</p>
                    <p class="text-muted">Email: <u style="color:#3F7752">Vutomi.Ndlovu@dalrrd.gov.za</u></p>

                </div>
                </div>
        </section>
    </div>
{% endblock %}
{% block scripts %}
    {{  super() }}
    {% asset "ckanext-dalrrdemcdcpr/check-access-js" %}
    {% asset "ckanext-dalrrdemcdcpr/xml-parser-js" %}
{% endblock %}
