{% extends "page.html" %}

{% set saved_searches = h.get_saved_searches() %}
{%- block content %}
    <div class="saved-searches-container" data-module="implement_saved_search">
        <div class="saved-searches-holder">
            {% for search in saved_searches %}
                <div class="saved-search-card">
                    <p>{{ search[0] }}</p>
                    <p id="saved_search_query" style="display: none;">{{ search[1] }}</p>
                    <p>{{ search[2].strftime("%Y-%m-%d %H:%M:%S") }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
