{% extends "page.html" %}

{% block title %}{{ _('DCPR Requests') }} - {{ super() }}{% endblock %}

{% block breadcrumb_content %}
  {{ h.nav_link(_('DCPR Requests'), named_route='request.index') }}
{% endblock %}

{% block primary_content_inner %}
  <div class="dataset">
    <div class="row">
      {% for request in requests %}
        {% if loop.index0%4==0 %}<div class="clearfix visible-lg"></div>{% endif %}
        {% if loop.index0%3==0 %}<div class="clearfix visible-md clearfix-ie7"></div>{% endif %}
        {% if loop.index0%2==0 %}<div class="clearfix visible-sm"></div>{% endif %}
        <div class="col-lg-3 col-md-4 col-sm-6">
          {% set request_url=h.url_for('request.view', request_name=request.name, **h.request__explicit_default_options(request.name)) %}
          <div class="request-summary">
            <a href="{{ request_url }}" class="request-header">
              <div class="request-title">{{ request.title }}</div>
            </a>
            <div class="request-body">
              <div class="request-description">{{ request.description }}</div>
              <div class="clearfix clearfix-ie7"> &nbsp;</div>
              <a class="view-request-link" href="{{ request_url }}">
                {{ _('View DCPR Request') }}
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock%}