<!-- {% import 'macros/form.html' as form %}
{% asset 'ckanext-dalrrdemcdcpr/facets-active-js' %}

{%
    set options=[
      {'value': '001', 'text': _('Discipline')}
    , {'value': '002', 'text': _('Place')}
    , {'value': '003', 'text': _('Stratum')}
    , {'value': "004", "text":_("Temporal")}
    , {'value': "005", "text":_("Theme")}
    ]
%}
{%- set extra_html = caller() if caller -%}
{% set classes = (classes|list) %}
{% call form.input_block(field.field_name, field.label, "", classes, extra_html=extra_html, is_required=false) %}
<div class="repeating_custom_tag_row-index-0" id="repeating_custom_tag_row-index-0" data-module="repeating_tags_handler">
<div class="metadata_tags_holder">
        <div class="metadata_tags_styler">
            <div class="metadata_tags_input">
                    <label for="custom_delete" class="input-group-text">{{ _('Input tag') }}</label>
                    <input class="form-control" id="repeating_custom_tag_row-index0-tag-input-index-0" type="text" name="{{ field.field_name }}" value='{{ data.get("repeating_custom_tag-0-tag-input-index-0") }}' placeholder=""/>
            </div>
            <div class="metadata_tags_type_select">
                    <div><label for="tag_select" class="input-group-text">{{_('Input tag type')}}</label></div>
                    <select id="tag_select" name="{{ field.field_name }} }}">
                    {% for option in options %}
                        <option value="{{ option.value }}"{% if option.value == selected %} selected{% endif %}>{{ option.text or option.value }}</option>
                    {% endfor %}
                    </select>
            </div>
            <div class="tags_buttons_wrapper">
                    <div class="tags_handling_buttons">
                        <button class="btn btn-success add_metadata_tags_btn">Add</button>
                        <button class="btn btn-danger remove_metadata_tags_btn"><i class="fa fa-trash"></i>Remove</button>
            </div>
            </div>
        </div>
    </div>

</div>
{% endcall %} -->
